node_modules
npm-debug.log
*.swp
*.tar
*.tgz
*.pyc
xunit.xml
config/local.*
logs/
build/
config/version
.tern*
fuzzy-controller.fcl

# Used for packaging (instead of maintaining a separate .npmignore)
fuzzylite/**
!fuzzylite/fuzzylite/release/bin/*
